/* Register.css */

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.logo2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.logo2-image {
  width: 130px;
  height: auto;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333333;
}

.rContainer {
  max-width: 500px;
  width: 100%;
  padding: 40px 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.rInput {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.rButton {
  width: 100%;
  padding: 10px;
  background-color: #f1356d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.rButton:hover {
  background-color: #ee1c4f;
}

p {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

p a {
  color: #f50057;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
